<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Buscar Usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Buscar Usuario</h1>
<form th:action="@{/usuarios/buscar}" method="get">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre"/><br/>

    <button type="submit">Buscar</button>
</form>

<h2>Resultados</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${resultados}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.correo}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
