<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a la Aplicación de Gastos Personales</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<header>
    <h1>Bienvenido a la Aplicación de Gestión de Gastos Personales</h1>
    <nav>
        <ul>
            <li><a href="/categorias/listar">Categorías</a></li>
            <li><a href="/gastos/listar">Gastos</a></li>
            <li><a href="/ingresos/listar">Ingresos</a></li>
            <li><a href="/usuarios/login">Iniciar sesión</a></li>
            <li><a href="/usuarios/recordar-password">Recuperar Contraseña</a></li>
        </ul>
    </nav>
</header>

<section>
    <h2>Gestión de tus finanzas</h2>
    <p>Con nuestra aplicación, puedes gestionar tus ingresos, gastos y categorías fácilmente. Mantén un control completo de tus finanzas personales y optimiza tus ahorros.</p>
</section>

<footer>
    <p>&copy; 2024 - Todos los derechos reservados</p>
</footer>
</body>
</html>

